
body {
    margin: 0;
    display: flex;
    background-color: #1e1e2e;
    color: #ffffff;
    font-family: Arial, sans-serif;
}

header {
    position: relative;
    padding: 10px;
    background-color: #292940;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 0;
}

a {
    outline: none;
    color: #b4b4ef;
}
  
a:hover {
    color:#ffffff
}

div {
    padding:30px ;
}

.download-cv {
    text-decoration: none;
    color: #b4b4ef;
    padding: 10px 15px;
    background-color: #383850;
    border: 1px solid #b4b4ef;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.download-cv:hover {
    background-color: #b4b4ef;
    color: #292940;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 15px;
    left: 15px;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 1000;
}

.menu-toggle span {
    display: block;
    width: 30px;
    height: 3px;
    margin: 5px;
    background-color: #ffffff;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 20px 0;
    text-align: center;
}

.sidebar ul li a {
    color: #b4b4ef;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #ffffff;
}


.sidebar {
    width: 250px;
    background-color: #292940;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar ul li {
    margin: 15px 0;
}

.sidebar ul li a {
    color: #b4b4ef;
    text-decoration: none;
    font-size: 18px;
}

.sidebar ul li a:hover {
    color: #ffffff;
}

main {
    margin-left: 250px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding: 20px;
}

.cv {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    width: 80%;
    max-width: 1200px;
    background-color: #292940;
    padding: 20px;
    border: 2px solid #b4b4ef;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}

.cv section {
    background-color: #1e1e2e;
    border: 2px solid #b4b4ef;
    border-radius: 10px;
    padding: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
}

.cv section h2 {
    color: #b4b4ef;
    text-align: center;
}

.cv section p, .cv section ul, .cv section li {
    color: #ffffff;
}

.cv section ul li span {
    color: #b4b4ef;
    font-weight: bold;
}
